.DS_Store
.vs/*
bin/*
CMakeFiles/*
CMakeCache.txt
Debug/*
etc/*
lib/*
Makefile
Release/*
share/*
Thumbs.db
*.a
*.cbp
*.d
*.dll
*.dSYM
*.dylib
*.exe
*.exp
*.filters
*.framework
*.hmap
*.ilk
*.lastbuildstate
*.lib
*.make
*.manifest
*.map
*.ncb
*.o
*.obj
*.out
*.pbxuser
*.pdb
*.res
*.sdf
*.sln
*.so
*.so.*
*.suo
*.tlog
*.user
*.vcproj
*.vcw
*.vcxproj
*.workspace
*.xcodeproj
